################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Cosmic.NET/.vs
/Cosmic.NET/bin
/Cosmic.NET/obj
/Cosmic.NET.WPF/bin
/Cosmic.NET.WPF/obj
/cosmo/bin
/cosmo/obj
*.user
*.dtbcache
*.dtbcache.v2
/.vs
