################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Cosmic.NET/.vs/Cosmic.NET/v15/Server/sqlite3
/Cosmic.NET/Cosmic.NET/obj
/Cosmic.NET/Cosmic.NET.WPF/bin
/Cosmic.NET/Cosmic.NET.WPF/obj
/Cosmic.NET/Cosmic.NET/bin
/Cosmic.NET/cosmo/bin
/Cosmic.NET/cosmo/obj
/Cosmic.NET/packages
*.user
*.dtbcache
